html, body{
    height: 100%;
    margin: 0;
    background-color: #ffb8bf;
}

#container {
        width: 100%;
      height: 100%;
}


#canvas {
      height: 100%;
      width: 100%:
      position: absolute;
}

h1 {
    position: fixed;
    left: 30px;
    top: 30px;
}

img {
    position: absolute;
}

